<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Edição de Notas de Projeto</div>
                <div class="panel-body">

                    <form class="form-horizontal" name="form" role="form" method="POST" ng-submit="save()" >
                        <div class="form-group" ng-class="{'has-error': !form.title.$valid && form.title.$touched}">
                            <label class="col-md-4 control-label">Title</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="title" ng-model="projectNote.title" required>
                                <div ng-messages="form.title.$error" class="help-block" ng-show="form.title.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': !form.note.$valid && form.note.$touched}">
                            <label class="col-md-4 control-label">Note</label>
                            <div class="col-md-6">
                                <textarea class="form-control" name="note" ng-model="projectNote.note" required></textarea>
                                <div ng-messages="form.note.$error" class="help-block" ng-show="form.note.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                                <a ng-href="#/project/{{projectNote.project_id}}/notes/" class="btn btn-default">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>