<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">

                <div class="panel-heading">Listagem de Observações</div>

                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                 <th>ProjectID</th>
                                <th>Title</th>
                                <th>Note ID</th>
                                <th>Note</th>
                                <th>Acao</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in projectNotes">
                            <td>{{o.project_id}}</td>
                            <td>{{o.title}}</td>
                            <td>{{o.id}}</td>
                            <td>{{o.note}}</td>
                            <td>
                                <a ng-href="#/project/{{o.project_id}}/notes/{{o.id}}/edit">Editar</a> |
                                <a ng-href="#/project/{{o.project_id}}/notes/{{o.id}}/remove">Excluir</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>



            </div>


            <div class="col-md-6 col-md-offset-4">
                <a ng-href="#/project/{{projectId}}/notes/new" class="btn btn-primary">Incluir novo</a>
            </div>


            <!-- ./Panel default -->
        </div>
    </div>
</div>