<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de Note de Projeto</div>
                <div class="panel-body">
                    <p>
                        Deseja realmente excluir esta nota de projeto?
                    </p>
                    <ul>
                        <li><strong>Title: </strong>{{projectNote.title}}</li>
                        <li><strong>Nota: </strong>{{projectNote.note}}</li>
                    </ul>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button type="button" class="btn btn-danger" ng-click="remove()">Excluir</button>
                            <a ng-href="#/project/{{projectNote.project_id}}/notes/" class="btn btn-default">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>