<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">

                <div class="panel-heading">Listagem de clientes</div>

                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Responsible</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in clients">
                                <td>{{ o.name }}</td>
                                <td>{{ o.responsible }}</td>
                                <td>{{ o.email }}</td>
                                <td>{{ o.phone }}</td>
                                <td>
                                    <a ng-href="#/clients/{{ o.id }}/edit">
                                    Editar
                                </a> |
                                    <a ng-href="#/clients/{{ o.id }}/remove">
                                    Excluír
                                </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>


            <div class="col-md-6 col-md-offset-4">
                <a href="#/clients/new" class="btn btn-primary">Incluir novo</a>
            </div>


            <!-- ./Panel default -->
        </div>
    </div>
</div>