<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Cadastro de Cliente</div>
                <div class="panel-body">

                    <form class="form-horizontal" name="form" role="form" method="POST" ng-submit="save()" >
                        <div class="form-group" ng-class="{'has-error': !form.name.$valid && form.name.$touched}">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" ng-model="client.name" required>
                                <div ng-messages="form.name.$error" class="help-block" ng-show="form.name.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': !form.responsible.$valid && form.responsible.$touched}">
                            <label class="col-md-4 control-label">Responsible</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="responsible" ng-model="client.responsible" required>
                                <div ng-messages="form.responsible.$error" class="help-block" ng-show="form.responsible.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': !form.email.$valid && form.email.$touched}">
                            <label class="col-md-4 control-label">E-mail</label>
                            <div class="col-md-6">
                                <input type="email" class="form-control" name="email" ng-model="client.email" required>
                                <div ng-messages="form.email.$error" class="help-block" ng-show="form.email.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                    <div ng-message="email">E-mail inválido</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': !form.phone.$valid && form.phone.$touched}">
                            <label class="col-md-4 control-label">Phone</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="phone" ng-model="client.phone" required>
                                <div ng-messages="form.phone.$error" class="help-block" ng-show="form.phone.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': !form.address.$valid && form.address.$touched}">
                            <label class="col-md-4 control-label">Address</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="address" ng-model="client.address" required>
                                <div ng-messages="form.address.$error" class="help-block" ng-show="form.address.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': !form.obs.$valid && form.obs.$touched}">
                            <label class="col-md-4 control-label">Obs</label>
                            <div class="col-md-6">
                                <textarea name="obs" cols="66" ng-model="client.obs"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                                <a ng-href="#/clients" class="btn btn-default">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>