<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Ecluir Cliente</div>
                <div class="panel-body">

                    <p>Deseja excluir este cliente?</p>

                    <ul>
                        <li><strong>Name:</strong>{{client.name}}</li>
                        <li><strong>E-mail:</strong>{{client.email}}</li>
                        <li><strong>Phone:</strong>{{client.phone}}</li>
                    </ul>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button type="button" class="btn btn-danger" ng-click="remove()">Excluir</button>
                            <a href="#/clients" class="btn btn-default">Cancelar</a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>